//tipografia//
$typohraphy: 'Poppins', sans-serif;

//size//
$size--xl: 32px;
$size--l: 28px;
$size--m: 18px;
$size--s: 14px;

//peso//
$negrita: 700;
$normal: 400;

//colors//
$primary-celeste: #92DCE5;
$secondary-salmon: #EF6461;
$Gris: #8A8A8A;